@media ( max-width: 940px ) {
	.article-r {
		margin-left: 0;
	}
	.about-article {
		margin: 80px auto;
	}
}
@media ( max-width: 768px ) {
 	.header-navigation {
 		-ms-align-items: flex-start;
		align-items: flex-start;
 	}
	.main-menu {
		display: none;
		margin-bottom: auto;
		position: absolute;
		right: 40px;
	}
	.main-menu li {
		display: block;
		width: 100%;
		font-size: 12px;
	}
	.main-menu a {
		display: block;
		padding: 8px;
	}
	.toggle-button {
		text-align: center;
		display: block;
		cursor: pointer;
		color: #fff;
	}
	.toggle-button:after {
		padding: 10px;
		border: 1px solid #f9f9f9;
		content: attr(data-open);
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu {
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
		content: attr(data-close);
	}
	nav a {
		background-color: rgba(50,50,50,0.9);
		width: 100%;
		max-width: 140px;
		border-bottom: 1px dotted silver;
	}
	.baner-content {
		margin: 90px auto;
	}
	.baner-content h1{
		font-size: 35px;
		margin: 50px auto;
	}
	.baner-content h2{
		font-size: 25px;
	}
	.baner-content button{
		margin-bottom: 70px;
		padding: 12px 23px;
		font-size: 14px;
	}
	.services-container {
		grid-template-columns: minmax(200px, auto) minmax(200px, auto);
		grid-gap: 20px;
	}
	.services {
    margin: 60px auto;
  }
	.our-portfolio {
    margin: 110px auto;
  }
	.about-us {
		margin: 140px auto;
	}
	footer {
		margin: 60px auto;
	}
}
@media ( max-width: 420px ) {
	.baner-content h1{
		font-size: 25px;
		margin: 30px auto;
	}
	.baner-content h2{
		font-size: 20px;
	}
	.baner-content button{
		margin-bottom: 70px;
		padding: 12px 23px;
		font-size: 14px;
	}
	.services-container {
		grid-template-columns: minmax(300px, auto);
		grid-gap: 20px;
	}
	.about-article {
		flex-direction: column;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	}
	.services {
    margin: 30px auto;
  }
	.our-portfolio {
    margin: 55px auto;
  }
	.about-us {
		margin: 70px auto;
	}
	footer {
		margin: 30px auto;
	}
	.about-article {
		margin: 40px auto;
	}
}